<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Server</title>
</head>
<body>
    <h1>Xin chào! Chào mừng đến server</h1>
    <p><%=dataRender%></p>
</body>
</html>